.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
# keynote files
*.key
# website - build by netlify
public/
# intermediary files
exams/*/*.md
project/*/*/*.md
website/*/*/*.md
*_cache
*_files
# html output
assignments/*/*.html
appex/*/*.html
exams/*/*.html
extras/*/*.html
labs/*/*.html
project/*.html
project/*/*/*.html
slides/*/*.html
